[submodule "PERSONAL/SHELL_SCRIPTS"]
	path = PERSONAL/SHELL_SCRIPTS
	url = git@github.com:CypherWhisperer/SHELL_SCRIPTS.git
[submodule "PERSONAL/CYPHER_OS"]
	path = PERSONAL/CYPHER_OS
	url = git@github.com:CypherWhisperer/CYPHER_OS.git
